<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

     <!--  <div class = "alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>--> 
        <app-alert *ngIf="error" [message] = "error" (close) = "onHandleError()"></app-alert>
        <form #authform="ngForm" (ngSubmit) = "onSubmit(authform)" *ngIf = "!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            </div>
            <span class="help-block" *ngIf="!email.valid&& email.touched">Please fill in email</span>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" #password="ngModel">
            </div>
            <span class="help-block" *ngIf="!password.valid&& password.touched">Please fill in password</span>
            <div>
                <button class="btn btn-primary" type="submit" [disabled] = "authform.invalid">{{isLogInMode ? 'Log In' : 'Sign Up' }}</button> | 
                <button class="btn btn-primary" (click) = "onSwitchMode()" type="button">{{ isLogInMode ? 'Swith To Sign Up': 'Swith To Log In'}}</button>
            </div>
        </form>
       
    </div>
    

</div>
