<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <!-- <app-recipes *ngIf="loadedFeature"></app-recipes>
      <app-shopping-list *ngIf="!loadedFeature"></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>