<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let recipeIterator of recipes; let i =index" [recipeItem]="recipeIterator" [index]="i"></app-recipe-item>
    </div> 
</div>